extends layout

block head
    link(rel='stylesheet', href='/stylesheets/chat.css')
block body
    h1= title
    p Welcome to #{title}
    ul(id='messages')
    form(action='#{script}', id='chat-form')
        input(id='m', autocomplete=off)
        button Send

block body-scripts
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/javascripts/bundle.js")
