//
   Created by ILYA on 12/18/2016.

ul(id='messages' class="list-group chat-list height-95" style="width=100% !important;")
form(id='chat-form')
    div(class="form-group")
        div( class="col-md-10 message-bar")
            input(id='m', class="form-control", autocomplete=off)
        div( class="col-md-2 message-send")
            button(class="btn btn-primary") Send