//
   Created by ILYA on 12/18/2016.

ul( class="nav nav-pills nav-stacked" style="margin-top:25px;")
    li
        a( data-toggle="modal" data-target="#how-to-play") How to play
    li
        a( data-toggle="modal" data-target="#strategy") Strategy
    li
        a( data-toggle="modal" data-target="#history") History