//
   Created by ILYA on 12/18/2016.
div( class="modal fade in" id="how-to-play")
    div( class="modal-dialog modal-md")
        div( class="modal-content")
            div( class="modal-header")
                button( type="button" class="close" data-dismiss="modal") X
            div( class="modal-body")
                h1 How to Play
                br
                h3 Start and preparation
                p Each game can vary in the number of ships employed but a common practice is to have 5 ships of differing size (2 to 5) squares. An aircraft carrier is 5 squares long, a battleship is 4 squares long, both a cruiser and a destroyer are three squares long and a patrol boat is two squares long. Each player must  place their ships on a grid of ten columns by ten rows. These represent the location of the ships on a battlefield.
                hr
                h3 While in play
                p Once it is determined who will go first, that person will pick a square at random, calling it by its reference of column reference, row number (C3 for example). This represents their firing a missile directly at that square. If the opposing player has any part of one of their ships positioned on this square is “hit” and mark on their battlefield (first grid) which part has been hit. Equally the attacking player will place an “X” on their blank grid to show a hit. In this instance the first player will now be allowed to make another guess. This continues until the attacking player misses.
                hr
                h3 Victory
                p The player who successfully sinks all their opponent’s ships first by hitting each square they occupy is the winner as all ships have been destroyed.

div( class="modal fade in" id="strategy")
    div( class="modal-dialog modal-md")
        div( class="modal-content")
            div( class="modal-header")
                button( type="button" class="close" data-dismiss="modal") X
            div( class="modal-body")
                h1 Battleships Strategy
                p As a game that is designed to imitate real battle strategy there are many elements in the approaches to this game that mirror real life strategies used in war. Taking a much simpler approach but still retaining the core values will help a player to master the tactics for successful victory in Battleships.
                hr
                h3 Placing your fleet
                p Avoid wherever possible placing ships in a formulaic pattern like equally spaced rows or columns. Equally try not to have ships touching each other as that increases the possibility of an opponent gaining a second hit in one move. The aim here is quite simply to create a formation that could not easily be guessed and equally would not accidentally be stumbled across by complete fluke. Some people use this rational to justify a slightly different pattern. They argue that by placing all the ships in one clump, they have an unpredictable position that opponents are unlikely to predict. Equally even in the event of a hit and destroyed ship, logical thought would be to direct further firing in other areas of the board therefore protecting any ship that is directly next to a destroyed one.
                hr
                h3 Methodical striking
                p In spite of the very large number of variations on fleet positioning, sticking to a methodical approach to striking will yield the most successful results. The game will always have to start with some complete guesses but as time goes on these must be refined to narrow down the possible places where an opposing ship may be. The chequered strike pattern is a particularly popular method. Because no ship is smaller than two squares this tactic will reveal even the smallest of ships much quicker than random shots. Whenever a hit is made, remember to make the next choice carefully. It’s very  easy to follow a line that has been prejudged however if a player looks at the board logically they are likely to narrow down the number of feasible positions that the rest of the partially damaged ship is placed in.
                hr
                h3 Common practice
                p Generally speaking people will start shooting somewhere near the centre of the board so when placing try to avoid this hotspot. Despite the advice given above, many players will still stick to a rigid format of having their whole fleet in parallel positions; if this pattern is identified early it will make systematic progression much easier.

div( class="modal fade in" id="history")
    div( class="modal-dialog modal-md")
        div( class="modal-content")
            div( class="modal-header")
                button( type="button" class="close" data-dismiss="modal") X
            div( class="modal-body")
                h1 History of the game
                p The game of Battleship is thought to have its origins in the French game L'Attaque played during World War I, although parallels have also been drawn to E. I. Horseman's 1890 game Baslinda,[2] and the game is said to have been played by Russian officers before World War I. The first commercial version of the game was Salvo, published in 1931 in the United States by the Starex company. Other versions of the game were printed in the 1930s and 1940s, including the Strathmore Company's Combat: The Battleship Game, Milton Bradley's Broadsides: A Game of Naval Strategy and Maurice L. Freedman's Warfare Naval Combat. Strategy Games Co. produced a version called Wings which pictured planes flying over the Los Angeles Coliseum. All of these early editions of the game consisted of pre-printed pads of paper.
                br
                p Players in a Battleship tournament aboard a U.S. Navy vessel. In 1967 Milton Bradley introduced a version of the game that used plastic boards and pegs. The method of play involved using pegboards and miniaturized plastic ships, and was thought of by Ed Hutchins. In 1977, Milton Bradley also released a computerized Electronic Battleship, followed in 1989 by Electronic Talking Battleship. In 2008, an updated version of Battleship was released, using hexagonal tiles. In the updated version, each player's board contains several islands on which "captured man" figurines can be placed. Ships may be placed only around the islands, and only in the player's half of the board. When the movie Battleship was released, the board game reverted to the original 1967 style.
                br
                p Battleship was one of the earliest games to be produced as a computer game, with a version being released for the Z80 Compucolor in 1979. Many computer editions of the game have been produced since. In Clubhouse Games for the Nintendo DS, Battleship is known as Grid Attack. It is played on an 8×8 grid, and includes slight variations, such as 4-player gameplay, various ship sizes and shapes, as well as the option to make the ships touch each other.