.container {
    margin-top: 30px;
    width: 85% !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.message-bar, .message-send {
    position: relative;
    padding: 2px !important;
}

.message-send {
    position: absolute;
    right: 0;
}

.list-group {
    overflow: scroll;
    overflow-x: hidden;
}

.score-list{
    background: #fcfcfc !important;
    height: auto;
    position: relative;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.score-hr {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.message-list {
    background: #fcfcfc !important;
    margin: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.message-name {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.message {
    display: inline-block;
    margin: 0 auto;
}

.score-name {
    padding-left: 5px;
    display: inline-block;
    width: 60%;
}

.score {
    display: inline-block;
    border-left-color: #dbdbdb;
    border-left-style: solid;
    border-left-width: 1px;
    width: 40%;
    position: absolute;
    right: 0;
    padding-left: 5px;
}

.user-list {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.btn-center-vertical {
    transform: translateY(-18%);
}

.chat {
    padding-top: 10px;
    padding-bottom: 30px;
    background: #f5f5f5;
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.well-header {
    margin: 0px;
    height: 10%;
}

.well-list {
    height: 75%;
}

.well {
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 10px !important;
}